# API
OPENAI_DEFAULT_MODEL=google/gemma-3-27b-it
OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=nomic-ai/nomic-embed-text-v2-moe
OPENAI_EMBEDDING_URL=
OPENAI_EMBEDDING_KEY=
OPENAI_TRANSCRIPTION_MODEL=openai/whisper-large-v3
OPENAI_TRANSCRIPTION_URL=
OPENAI_TRANSCRIPTION_KEY=
REQUEST_GROUP=api-service
RETRY_ATTEMPTS=5
RETRY_BASE_SEC=0.5
RETRY_CAP_SEC=8
CONSUMER_NAME=

# Endpoint
ENDPOINT_API_KEY=
API_ENDPOINT_HOST=
API_ENDPOINT_PORT=
MODEL_DEFAULT=google/gemma-3-27b-it
SYNC_TIMEOUT_MS=50000

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REQUEST_STREAM=openai:requests
RESPONSE_STREAM_PREFIX=openai:responses
RESPONSE_TTL_SEC=300
